In [41]:
import pandas as pd

1 - lendo arquivo csv

In [42]:
df = pd.read_csv('vendas.csv')

2 - Criando coluna com total recebido por vendas

In [43]:
df['Total_vendas'] = df['Quantidade']  * df['Preco_Unitario'] 
df

           Data    Produto  Quantidade  Preco_Unitario  Total_vendas
0    14/02/2023  Produto C           2           13.04         26.08
1    17/02/2023  Produto D          19           17.46        331.74
2    06/03/2023  Produto C           1           78.92         78.92
3    09/03/2023  Produto D          12           85.82       1029.84
4    09/03/2023  Produto A          19           42.69        811.11
..          ...        ...         ...             ...           ...
495  16/02/2023  Produto B          12           95.08       1140.96
496  01/01/2023  Produto A           4           43.42        173.68
497  21/02/2023  Produto D           8           70.82        566.56
498  08/02/2023  Produto A          19           92.41       1755.79
499  31/03/2023  Produto A           9           18.56        167.04

[500 rows x 5 columns]

pegando

In [44]:
total_vendas = df.groupby('Produto')['Total_vendas'].sum()
total_vendas

Produto
Produto A    56157.09
Produto B    59552.39
Produto C    62625.58
Produto D    56742.88
Produto E    53471.72
Name: Total_vendas, dtype: float64

3 - filtrando vendas por datas

In [45]:
df['Data'] = pd.to_datetime(df['Data'], format='%d/%m/%Y') 
vendas_janeiro = df[df['Data'].dt.month == 1 & (df['Data'].dt.year == 2023)]
vendas_janeiro

          Data    Produto  Quantidade  Preco_Unitario  Total_vendas
5   2023-01-10  Produto D          19           32.21        611.99
7   2023-01-22  Produto A          16           23.71        379.36
13  2023-01-13  Produto C          15           63.57        953.55
22  2023-01-26  Produto B          19           32.29        613.51
25  2023-01-10  Produto E          18           39.10        703.80
..         ...        ...         ...             ...           ...
488 2023-01-31  Produto A           9           78.17        703.53
491 2023-01-08  Produto B          16           95.07       1521.12
492 2023-01-22  Produto E          16           31.78        508.48
493 2023-01-09  Produto C          10           32.53        325.30
496 2023-01-01  Produto A           4           43.42        173.68

[166 rows x 5 columns]

4 - salvando em um arquivo csv

In [46]:
vendas_janeiro.to_csv('vendas_janeiro.csv')